<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allenlogo.task.dao.TaskActionTimingMapper">
  <resultMap id="BaseResultMap" type="com.allenlogo.task.entity.TaskActionTiming">
    <constructor>
      <idArg column="guid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="cron" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="infoGuid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="infoCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="runServerGuid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="execActionGuid" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from task_action_timing
    where guid = #{guid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.allenlogo.task.entity.TaskActionTiming">
    insert into task_action_timing (guid, cron, infoGuid, 
      infoCode, runServerGuid, execActionGuid
      )
    values (#{guid,jdbcType=INTEGER}, #{cron,jdbcType=VARCHAR}, #{infoGuid,jdbcType=INTEGER}, 
      #{infoCode,jdbcType=VARCHAR}, #{runServerGuid,jdbcType=INTEGER}, #{execActionGuid,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.allenlogo.task.entity.TaskActionTiming">
    update task_action_timing
    set cron = #{cron,jdbcType=VARCHAR},
      infoGuid = #{infoGuid,jdbcType=INTEGER},
      infoCode = #{infoCode,jdbcType=VARCHAR},
      runServerGuid = #{runServerGuid,jdbcType=INTEGER},
      execActionGuid = #{execActionGuid,jdbcType=INTEGER}
    where guid = #{guid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select guid, cron, infoGuid, infoCode, runServerGuid, execActionGuid
    from task_action_timing
    where guid = #{guid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select guid, cron, infoGuid, infoCode, runServerGuid, execActionGuid
    from task_action_timing
  </select>
</mapper>